<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>
  <header>
      <%= link_to   "Meet the Staff", meet_path, class:'btn', id: 'meet'%>
      <%=  link_to  "List of Services", services_path, class: 'btn', id: 'services' %> 
      <%=  link_to  "Home Page", '/', class: 'btn', id: 'home'%>
      <%= link_to  "Log Out", logout_path, method: :delete, class: 'btn', id: 'logout' %>
      <%= link_to  "Staff Admin", admin_path, class: 'btn', id: 'staff' %>
     
  </header>

  <body>
      <h1> A Special Touch Day Spa</h1>
    <div class = 'flash'>
      <% flash.each do |name, msg| %>
      <h3> <%= msg %> </h3>
     <%end%>
    </div>
    <div class = container id='show'>
       <%= yield %>
    </div>
     
  </body>

  <footer>
      <hr>
  Address: 123 Primrose Lane, Anywhere VA, 00000, Ph: 111-222-3333
  </footer>
</html>
